// Light mode variables
$rhap_theme-color: #333 !default;
$rhap_background-color: #fff !default;
$rhap_bar-color: #e4e4e4 !default;
$rhap_time-color: #333 !default;

// Dark mode variables
.dark {
  $rhap_theme-color: #ccc !default;
  $rhap_background-color: #333 !default;
  $rhap_bar-color: #555 !default;
  $rhap_time-color: #ccc !default;
}

@import "react-h5-audio-player/lib/styles";
